body{
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
	background: url(backgr.jpg);
	background-size: cover; /* Фон занимает всю доступную площадь */
}
.Logo{
    width: 180px;
    height: 165px;
    border-radius: 55px; /* Радиус скругления */
    border: 2px solid #009EFF; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.ip{
	color: white;
	font-family: Monospace;
    border: 2px solid yellow;
	border-radius: 60px;
	font-size: 50px;
	box-shadow: 0 0 8px #666;
}
.Logo{
	border-radius: 55px; /* Радиус скругления */
    border: 3px solid lightgreen; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: green;
}



















