body{
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(backgr2.png);
    background-size: cover; /* Фон занимает всю доступную площадь */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: green;
}
.kak{
    font-size: 45px;
    font-family: monospace;
    color: green;    
}
.inf{ 
    color: black;
    font-size: 35px; 
    font-family: monospace;
}
.inf2{
    color: black;
    font-size: 32px; 
    font-family: monospace; 
}
